// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';


// Bootstrap
@import '~bootstrap/scss/bootstrap';


h1 {
  font-size: 1rem;
}
.intro{
  height: 50vh;
}

@include media-breakpoint-up(sm) {
  h1 {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  h1 {
    font-size: 1.4rem;
  }
  .intro{
    height: 100vh;
  }
}

@include media-breakpoint-up(lg) {
  h1 {
    font-size: 1.6rem;
  }
}

